.footer {
  background-color:hsl(133, 61%, 33%);
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.btn-success {
  background-color: hsl(133, 61%, 33%);
  border-color: hsl(133, 61%, 33%);
}

/* Add the following styles for Flexbox layout */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
}
