<div class="footer">
  <nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
      <div class="navbar-nav me-auto"></div>
      <form class="mx-3">
        <div class="btn-group">
          <button type="button" class="btn btn-success"
                  routerLink="/about" routerLinkActive="active">
            about
          </button>
          <button type="button" class="btn btn-success"
                  routerLink="/contactUs" routerLinkActive="active">
            contact us
          </button>
          <button type="button" class="btn btn-success"
                  routerLink="/help" routerLinkActive="active">
            help
          </button>
        </div>
      </form>
    </div>
  </nav>
</div>
