<mat-tab-group animationDuration="0ms">
  <mat-tab label="about the site"> this site was created in order to make people have another reason to clean our nature.<br/>
     so each and everyone of us will have a better time when we go to a trip with our family in the nature.<br/>
     all you have to do in order to win cleanearth points and to buy with them cupons. is to take a picture before you cleaned,<br/>
     then take another one from the same angle after you cleaned<br/>
     and the points will be added to your account!<br/><br/>
    </mat-tab>
  <mat-tab label="about the creator of the site">
    Amir Hauz is a computer sience student in the open university, finish python full stack in john bryce academy, and love the nature.<br/>
    In my course i was using a lot of technologies: Java(basic),Python(Flask, Django),HTML, JavaScript,<br/>
    React,Angular.
    I also fimiliar with: Excel,JIRA.<br/>
    my github: <a href ="https://github.com/AmirHauz" target="_blank">go to my github.</a><br/>
    my cv: <a href="https://drive.google.com/file/d/1trU_TSAL9QJcCINniKYEMmUI63jL2H8j/view?usp=drive_link" target="_blank">see my cv </a>
  </mat-tab>
</mat-tab-group>
