<!-- **********************************************logged: ***********************************************************************-->

<div *ngIf="loggedValue$ | async; else elseBlock">
  <h1>Profile</h1>
  Your userId is: {{userId$|async}}
<hr>
  <form [formGroup]="profileForm" (ngSubmit)="save()">
    <div>
      <div>Full name:</div>
      <div>
        <input type="text" formControlName="fullName" [value]="(profile$ | async)?.fullName">

      </div>
    </div>

    <div>
      <div>About me:</div>
      <div>
        <textarea rows="5" cols="40" formControlName="aboutMe" [value]="(profile$ | async)?.aboutMe" ></textarea>
      </div>
    </div>

    <div>
      <div>Date of birth:</div>
      <div>
        <input type="date" formControlName="dateOfBirth" [value]="(profile$ | async)?.dateOfBirth">
      </div>
    </div>

    <p>
      <button [disabled]="profileForm.invalid">save</button>
    </p>

  </form>
</div>
<!-- **********************************************not logged: ***********************************************************************-->

<ng-template #elseBlock>Please Log In</ng-template>
