<!-- **********************************************logged: ***********************************************************************-->

<div *ngIf="loggedValue$ | async; else elseBlock">
  profile logged userid is: {{userId$|async}}
  <form [formGroup]="profileForm" (ngSubmit)="save()">
    <div>
      <div>full Name:</div>
      <div>
        <input type="text" formControlName="fullName" [value]="(profile$ | async)?.fullName">

      </div>
    </div>

    <div>
      <div>about me:</div>
      <div>
        <textarea rows="5" cols="40" formControlName="aboutMe" [value]="(profile$ | async)?.aboutMe" ></textarea>
      </div>
    </div>

    <div>
      <div>date of birth:</div>
      <div>
        <input type="date" formControlName="dateOfBirth" [value]="(profile$ | async)?.dateOfBirth">
      </div>
    </div>

    <p>
      <button [disabled]="profileForm.invalid">save</button>
    </p>

  </form>
</div>
<!-- **********************************************not logged: ***********************************************************************-->

<ng-template #elseBlock>profile not loged</ng-template>
