<div *ngIf="loggedValue$ | async; else elseBlock">
  <div class="file-upload">
    <div class="image-upload-wrap" #imageUploadWrapBefore>
      <input class="file-upload-input" type="file" (change)="readURL($event.target, 'before')" accept="image/*" />
      <div class="drag-text">
        <h3>Drag and drop a file or select add Image (Before)</h3>
      </div>
    </div>
    <div class="file-upload-content" #fileUploadContentBefore>
      <img class="file-upload-image" #fileUploadImageBefore src="#" alt="your image" />
      <div class="image-title-wrap">
        <button type="button" (click)="removeUpload('before')" class="remove-image">
          Remove
          <span #imageTitleBefore class="image-title">Uploaded Image (Before)</span>
        </button>
      </div>
    </div>

    <div class="image-upload-wrap" #imageUploadWrapAfter>
      <input class="file-upload-input" type="file" (change)="readURL($event.target, 'after')" accept="image/*" />
      <div class="drag-text">
        <h3>Drag and drop a file or select add Image (After)</h3>
      </div>
    </div>
    <div class="file-upload-content" #fileUploadContentAfter>
      <img class="file-upload-image" #fileUploadImageAfter src="#" alt="your image" />
      <div class="image-title-wrap">
        <button type="button" (click)="removeUpload('after')" class="remove-image">
          Remove
          <span #imageTitleAfter class="image-title">Uploaded Image (After)</span>
        </button>
      </div>
    </div>

    <button class="btn btn-success btn-sm" [disabled]="!imageUploadedBefore || !imageUploadedAfter" (click)="upload()">
      Upload
    </button>
    <p>Upload progress: {{ percentage }}%</p>
  </div>
</div>
<div>
<ng-template #elseBlock>photo not logged</ng-template>
</div>

  <!-- <div *ngIf="loggedValue$ | async;else elseBlock">
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
<div *ngIf="!imageUploaded">
  <div class="image-upload-wrap" #imageUploadWrap>
    <input class="file-upload-input" type='file' (change)="readURL($event.target)" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content" #fileUploadContent>
    <img class="file-upload-image" #fileUploadImage src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" (click)="removeUpload()" class="remove-image">Remove <span #imageTitle class="image-title">Uploaded Image</span></button>
    </div>
  </div>
</div>

<div *ngIf="imageUploaded">
  <img [src]="imageUrl" alt="your image" />
      <button type="button" (click)="removeUpload()" class="remove-image">Remove <span #imageTitle class="image-title">Uploaded Image</span></button>
    </div>

    <button class="btn btn-success btn-sm" [disabled]="!isFileSelected" (click)="upload()">Upload</button>
  </div> -->

  <!-- <div class="float-container">
    <div class="float-child">
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add before cleaning Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop before cleaning file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
</div>
</div>
<div class="float-child">
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add after cleaning Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop after cleaning file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
</div>
</div>
</div>
<div class="col-4">
  <button
    class="btn btn-success btn-sm"
    [disabled]="!selectedFiles"
    (click)="upload()"
  >
    Upload
  </button>
</div> -->

  <!-- </div>

<ng-template #elseBlock>photo not loged</ng-template> -->

