<div *ngIf="loggedValue$ | async as loggedIn; else elseBlock">
  <ng-container *ngIf="loggedIn; else loadingBlock">
    <div *ngIf="cart$ | async as cartItems; else emptyCartBlock">
      <ng-container *ngFor="let cartItem of cartItems">
        <div class="card">
          <img
            class=""
            card-img-top
            src="http://127.0.0.1:8000/{{ cartItem.reward.cuponImage }}"
            alt="{{ cartItem.reward.cuponImage }}"
            style="height: 5cm; width: 4cm"
          />
          <div class="card-body">
            <h3 class="card-title">{{ cartItem.reward.cuponDescription }}</h3>
            <p class="card-text">price for 1:{{cartItem.reward.cuponPrice}}</p>
          </div>
          <div class="card-footer">
            <p><button (click)="decreaseCartItemAmount(cartItem)" [disabled]="cartItem.amount < 2" class="custom-button"> take one down</button> currently you have{{ cartItem.amount }}  <button (click)="increaseCartItemAmount(cartItem)" [disabled]="cartItem.reward.cuponPrice > (tempBalance$ | async)!" class="custom-button">add one more</button></p>
            <p>total: {{ cartItem.total }}</p>
           <button type="button" class="buttonDel" (click)="deleteCartItem(cartItem.id)">delete</button><button type="button" class="buttonComplete" >complete transaction</button>
          </div>
            <!-- Add more properties as needed -->

        </div>
      </ng-container>
    </div>
    <ng-template #emptyCartBlock>
      <p>Your cart is empty.</p>
    </ng-template>
  </ng-container>
</div>

<ng-template #loadingBlock>
  <p>Loading...</p>
</ng-template>

<ng-template #elseBlock>
  <p>Checkout not logged</p>
</ng-template>
